{% extends "admin/change_form.html" %}

{% load staticfiles %}

{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block extrastyle %}
  {% load adminmedia %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}cmsroles/css/user_setup.css"/>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
    &rsaquo; User Setup
  </div>
{% endblock %}

{% block content %}
<h1>User Setup</h1>
<div class="module aligned" id="site_selection">
<p>
  <label for="site_selector"><strong>Select site:</strong></label>
  <select id="site_selector">
    {% for site in administered_sites %}
      <option value="{{site.pk}}"
              {% if site.pk == current_site.pk %}
                selected="selected"
              {% endif %}
              >
        {{site.name}}
      </option>
    {% endfor %}
  </select>
</p>
</div>

<div class="module aligned">
  <form id="user_formset" method="post" action="" style="
    {% if user_formset|length == 0 %}
       display: none;
    {% endif %}
  ">
    {% csrf_token %}
    {{ user_formset.management_form }}
    {{ user_formset.non_form_errors }}
    <div id="user_formset_fields">
      {% for form in user_formset %}
        {% include "admin/cmsroles/user_form.html" %}
      {% endfor %}
    </div>
    <input id="next_on_save" name="next" type="hidden" value="continue"/>
  </form>


</div>
<div class="submit-row">
  <input id="save" type="submit" class="default" value="Save" />
  <input id="save_and_continue" type="submit" value="Save and continue editing" />
</div>

{% if user.is_superuser %}
<div id="add_user_section" class="module aligned wide">
  <form method="post" id="add_user_form" style="margin-top: 30px"/>
      {% csrf_token %}
      {% comment %}
        <!-- the value will be dynamically set through js on form submit time -->
        <!-- for now... set it to 0 -->
      {% endcomment %}
      <input id="add_user_form_count" name="form_count" type="hidden" value="0"/>
      <div id="add_user_form_fields">
        {{ new_user_form.as_p }}
      </div>
      <input type="hidden" name="site" value="{{current_site.pk}}"/>
  </form>
</div>

<div class="submit-row">
  <input id="add_user_button" type="submit" value="Add User"/>
</div>
{% endif %}


<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}cmsroles/js/user_setup.js"></script>
{% endblock %}
