{% extends "admin/change_form.html" %}

{% load staticfiles %}

{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
    &rsaquo; User Setup
  </div>
{% endblock %}

{% block content %}
  <select id="site_selector">
    {% for site in administered_sites %}
      <option value="{{site.pk}}"
              {% if site.pk == current_site.pk %}
                selected="selected"
              {% endif %}
              >
        {{site.name}}
      </option>
    {% endfor %}
  </select>

  <form id="user_formset" method="post" action="" style="
    {% if user_formset|length == 0 %}
       display: none;
    {% endif %}
    margin-top: 30px
  ">
    {% csrf_token %}
    {{ user_formset.management_form }}
    {{ user_formset.non_form_errors }}
    <div id="user_formset_fields">
      {% for form in user_formset %}
        {{ form.as_p }}
      {% endfor %}
    </div>
    <input type="submit" value="Save users" />
  </form>

  {% if user.is_superuser %}
    <form method="post" id="add_user_form" style="margin-top: 30px"/>
      {% csrf_token %}
      <div id="add_user_form_fields">
        {{ new_user_form.as_p }}
      </div>
      <input type="hidden" name="site" value="{{current_site.pk}}"/>
      <input type="submit" value="Add User"/>
    </form>
  {% endif %}

  <script type="text/javascript" src="/static/admin/js/core.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="{% static "cmsroles/js/user_setup.js" %}"></script>
{% endblock %}
